* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: #121214;
  margin: 7.3rem 10rem;
  display: grid;
  justify-content: center;
}
header h1 {
  font-size: 5.8rem;
  font-weight: 900;
  color: #02799d;
}
header p {
  font-size: 3.2rem;
  font-weight: 600;
  color: #e1e1e6;
}
main {
  margin-top: 6.3rem;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 4.4rem 6rem;
}
.card {
  background-color: #202024;
  border-radius: 0.8rem;
  border: 0.2rem solid #323238;
  overflow: hidden;
}
.card h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #e1e1e6;
  margin: 2.4rem 2.2rem 0;
}
.card p {
  font-size: 1.9rem;
  font-weight: 600;
  color: #c4c4cc;
  margin: 2.4rem 2.2rem 3.8rem;
}
